.w2ui-grid .w2ui-grid-header {
    position: absolute;
    border-bottom: 1px solid #254f88 !important;
    height: 28px;
    overflow: hidden;
    color: #101007;
    font-size: 13px;
    text-align: center;
    padding: 7px;
    background-image: -webkit-linear-gradient(#dae6f3, #c2d5ed);
    background-image: -moz-linear-gradient(#dae6f3, #c2d5ed);
    background-image: -ms-linear-gradient(#dae6f3, #c2d5ed);
    background-image: -o-linear-gradient(#dae6f3, #c2d5ed);
    background-image: linear-gradient(#dae6f3, #8cbe83);
    filter: progid:dximagetransform.microsoft.gradient(startColorstr='#ffdae6f3', endColorstr='#ffc2d5ed', GradientType=0);
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
}

.w2ui-grid .w2ui-grid-body .w2ui-grid-frecords table tr.w2ui-odd,
.w2ui-grid .w2ui-grid-body .w2ui-grid-records table tr.w2ui-odd {
    color: inherit;
    background-color: #b1adad94;
    border-bottom: 1px solid #f5f5f5;
}

.w2ui-grid .w2ui-grid-body table .w2ui-head>div {
    padding: 7px 6px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    position: relative;
    font-weight: bolder;
}

w2ui-grid .w2ui-grid-body .w2ui-grid-frecords table tr td.w2ui-inactive,
.w2ui-grid .w2ui-grid-body .w2ui-grid-frecords table tr.w2ui-inactive,
.w2ui-grid .w2ui-grid-body .w2ui-grid-records table tr td.w2ui-inactive,
.w2ui-grid .w2ui-grid-body .w2ui-grid-records table tr.w2ui-inactive {
    background-color: #c9d2e1 !important;
    color: #160b77 !important;
    font-weight: 900;
}

.w2ui-grid .w2ui-grid-body .w2ui-grid-records table tr.w2ui-odd:hover,
.w2ui-grid .w2ui-grid-body .w2ui-grid-frecords table tr.w2ui-odd:hover,
.w2ui-grid .w2ui-grid-body .w2ui-grid-records table tr.w2ui-odd.w2ui-record-hover,
.w2ui-grid .w2ui-grid-body .w2ui-grid-frecords table tr.w2ui-odd.w2ui-record-hover {
    color: inherit;
    background-color: #e1e9da;
}

.w2ui-grid .w2ui-grid-body .w2ui-grid-records table tr.w2ui-even:hover,
.w2ui-grid .w2ui-grid-body .w2ui-grid-frecords table tr.w2ui-even:hover,
.w2ui-grid .w2ui-grid-body .w2ui-grid-records table tr.w2ui-even.w2ui-record-hover,
.w2ui-grid .w2ui-grid-body .w2ui-grid-frecords table tr.w2ui-even.w2ui-record-hover {
    color: inherit;
    background-color: #e1e9da;
}

.w2ui-grid .w2ui-grid-body .w2ui-grid-records table tr.w2ui-selected,
.w2ui-grid .w2ui-grid-body .w2ui-grid-frecords table tr.w2ui-selected,
.w2ui-grid .w2ui-grid-body .w2ui-grid-records table tr td.w2ui-selected,
.w2ui-grid .w2ui-grid-body .w2ui-grid-frecords table tr td.w2ui-selected {
    color: black !important;
    background-color: #bdc6cf !important;
    border-bottom: 1px solid transparent;
    font-weight: 900;
}
