{% extends 'base.html' %}

{% block content %}
<h1>{% block title %}NorthWind UI{% endblock %}</h1>
<div id="main" style="width: 100%; height: 630px;"></div>
<link rel="stylesheet" type="text/css" href="../static/styles/w2ui-1.5.rc1.css" />
<link rel="stylesheet" type="text/css" href="../static/styles/w2ui-overrides.css" />
<script src="../static/scripts/jquery-2.1.0.min.js"></script>
<script type="text/javascript" src="../static/scripts/w2ui-1.5.rc1.js"></script>
<script src="../static/scripts/main.js"></script>
{% endblock %}
